body {
  background-color: pink;
  color: blue;
  font-size: 45px;
  text-shadow: 3px 3px 3px yellow;
}

a {
  color: purple;
  text-decoration: none;
  font-size: 20px;
}

.title-container {
  border: 3px solid green;
}

.name {
 border: 3px solid black;
}

.social-media-link {
   border: 3px solid black;
}

.all-columns {
 border: 3px solid green;
}

.column {
 border: 3px solid black;
}
